<% layout('layouts/boilerplate') %>
<div class="row">
    <div>
        <h1 style="margin-left:45%">About Us</h1>
    </div>
    <div>
        <h3>Our Mision</h3>
        <br>
        <p>
            Knowledge of an occured disaster does not reach the people early on. This can be shown by the example of COVID, when there was shortage of oxygen cylinder sand necessary medical equipment. Our platform helps by providing a way to communicate with organizations faster so that they can reach the affected people at the earliest. And, thus would provide the necessary relief equipment.
        </p>
        <br>
        <h3>Meet Our Team!</h3>
        <br>
        <ul>
            <li>Ridam Garg</li>
            <li>Rhythm Bhatia</li>
            <li>Karan Goyal</li> 
            <li>Vanshika Kapoor</li>
            <li>Shivangi Mishra</li>
        </ul>
    </div>
</div>